{% extends "base.html" %}

{% block content %}
               
               
<div class="wrapper container-fluid">
                <br><br>
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">Events</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="pills">
                        <div class="well well-lg">
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="pill" href="#oevents">Popular Events</a></li>
                                <li><a data-toggle="pill" href="#uevents">Upcoming Events</a></li>
                                <li><a data-toggle="pill" href="#pevents">Past Events</a></li>
                                
                            </ul>
                            <br>
                            <div class="tab-content">
                                <div id="oevents" class="tab-pane fade in active">
                                  <h3>Popular Events</h3>
                                  <br>
                                  
                                     
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                
                                    <!-- Code snippet from.. --> 
                                  
                                </div>
                                
                                <div id="uevents" class="tab-pane fade">
                                  
                                  <h3>Upcoming Events</h3>
                                  <br>
                                  
                                     
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                
                                    
                                     
                                </div>
                                
                                <div id="pevents" class="tab-pane fade">
                                  <h3> Past Events</h3>
                                  <br>
                                   <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                    <div class="row">
                                        <div class="col-xs-3">
                                          <a href="#"><img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive"></a>  
                                        </div>
                                        <div class="col-xs-9">
                                            <p><a href="ecategory.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                             <br>
                                            <div class="row">
                                                <div class="col-xs-3">Date</div>
                                                <div class="col-xs-9"><a href="#"><i class="fa fa-map-marker">&nbsp;Location</i></a></div>
                                            </div>
                                            <br>
                                            <p id="eventdesc">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                            <br>
                                            <p id="attendees" style="color:#616161">No of Attendees</p>
                                            
                                            

                                        </div>
                                    </div><hr>
                                    
                                      
                                        
                                          
                                              
                                     
                                     
                                     
                                     
                                     
                                     
                                     
                                </div>
                                
                                
                              </div>
                            </div>
                            
                            
                            
                            
                        </div>
                    </div> 
                
                
                <br><br>
                
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">Featured Events</p>
                    </div>
                </div>
                
            
                
                
            <div class="grid">
             
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              
              
            
            </div>
                
            <div class="grid">
             
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              <div class="row">
               
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="ecategory.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text">
                      <h4> <a href="ecategory.html" id="group1">Event 1</a></h4>
                      <div class="box-masonry-desription" id="Group1desc">
                        <p><em>Date</em></p>
                        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
              </div>
              
              
              
            
            </div>    
                
                
                
            </div>
            
           
{% endblock %}