{% extends "base.html" %}
                                
{% block content %}
            
               
               
               
<div class="wrapper container-fluid">
                <br><br>
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">Announcement and News</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well well-lg">
                            <p class="lead">
                                Title
                            </p>
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="{{url_for('static', filename='img/mice/ph-announce.png')}}" alt="" class="img-responsive">  
                                </div>
                                <div class="col-lg-9">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                    <br>
                                    <div class="pagination" style="text-align:center;" >
                                        <ul class="pagination pagination-sm">
                                    <!--  <li><a href="#">«</a></li> -->
                                      <li><a class="active" href="#">1</a></li>
                                      <li><a href="#" data-animate-hover="pulse">2</a></li>
                                      <li><a href="#" data-animate-hover="pulse">3</a></li>
                                      <li><a href="#" data-animate-hover="pulse">4</a></li>
                                      <li><a href="#" data-animate-hover="pulse">»</a></li>
                                    </ul>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>                    
                
                        
                    
                </div>
                
                <div class="row">
                    <div class="col-md-3 col-md-offset-6 col-sm-6 col-xs-12 container" id="cta">
                       <a href="#"><button type="button" class="btn btn-primary btn-lg" id="primarycta">Find  more Resources</button></a>
                        
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 container" id="cta">
                        <a href="#"><button type="button" class="btn btn-primary btn-lg" id="primarycta">Find more Members</button></a>
                    </div>
                    
                    
                </div>
                
                <br><br>
                
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">Recent Blog Posts</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well well-lg">
                           
                                                        
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="{{url_for('static', filename='img/mice/ph-recent.png')}}" alt="" class="img-responsive">  
                                </div>
                                <div class="col-lg-9">
                                    <a href="text.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                    <br>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                                    <br><em style="font-size:11px;">Date</em>
                                </div>
                            </div><br>
                            
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="{{url_for('static', filename='img/mice/ph-recent.png')}}" alt="" class="img-responsive">  
                                </div>
                                <div class="col-lg-9">
                                    <a href="text.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                    <br>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                                    <br><em style="font-size:11px;">Date</em>
                                </div>
                            </div><br>
                            
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="{{url_for('static', filename='img/mice/ph-recent.png')}}" alt="" class="img-responsive">  
                                </div>
                                <div class="col-lg-9">
                                    <a href="text.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                    <br>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                                    <br><em style="font-size:11px;">Date</em>
                                </div>
                            </div><br>
                            
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="{{url_for('static', filename='img/mice/ph-recent.png')}}" alt="" class="img-responsive">  
                                </div>
                                <div class="col-lg-9">
                                    <a href="text.html">Lorem Ipsum is simply dummy text of the printing and typesetti ng industry.</a>
                                    <br>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.
                                    <br><em style="font-size:11px;">Date</em>
                                </div>
                            </div><br>
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </div>
                    </div>                    
                
                        
                    
                </div>
                
                
                
                
                
            </div>
            
            
           
{% endblock %}