{% extends "base.html"%}

{% block content %}


<div class="wrapper container-fluid">
                <br><br>
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">Member Directory</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <form class="form-horizontal" role="search" method="post" action="">
                        <div class="input-group add-on">
                          <input class="form-control block-level" placeholder="Search" name="srch-term" id="srch-term" type="text">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                            <i class="fa fa-search"></i>
                            </button>
                          </div>
                         </div>
                    </form>


                    </div>

                </div>
                <br>





                <div class="row">



                </div>

                <br><br>

                <div class="row">

                  <div class="col-lg-3 col-md-4 col-xs-12 container-fluid">

                   <div class="well well-lg">
                      <p class="lead">Filter by</p>

                       <div class="panel-group" id="accordion">

                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <p class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="fa fa-folder-close">
                                       </span>Location</a>
                                   </p>
                               </div>
                               <div id="collapseOne" class="panel-collapse collapse">
                                   <div class="panel-body">
                                       <table class="table table-borderless" id="tablecollapse">
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="delhi" id="delhi" />
                                                       <label for="delhi">Delhi</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="mumbai" id="mumbai" />
                                                       <label for="mumbai">Mumbai</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="chennai" id="chennai" />
                                                       <label for="chennai">Chennai</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="delhi" id="hyderabad" />
                                                       <label for="hyderabad">Hyderabad</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                               </div>
                           </div>

                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <p class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="fa fa-folder-close">
                                       </span>Company</a>
                                   </p>
                               </div>
                               <div id="collapseTwo" class="panel-collapse collapse">
                                   <div class="panel-body">
                                       <table class="table table-borderless" id="tablecollapse">
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="company1" id="company1" />
                                                       <label for="company1">Company1</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="company2" id="company2" />
                                                       <label for="company2">Company2</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="company3" id="company3" />
                                                       <label for="company3">Company3</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="company4" id="company4" />
                                                       <label for="company4">Company4</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                               </div>
                           </div>

                           <div class="panel panel-default">
                               <div class="panel-heading">
                                   <p class="panel-title">
                                       <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="fa fa-folder-close">
                                       </span>Groups</a>
                                   </p>
                               </div>
                               <div id="collapseThree" class="panel-collapse collapse">
                                   <div class="panel-body">
                                       <table class="table table-borderless" id="tablecollapse">
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="group1" id="group1" />
                                                       <label for="group1">Group1</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="group2" id="group2" />
                                                       <label for="group2">Group2</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="group3" id="group3" />
                                                       <label for="group3">Group3</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                           <tr>
                                               <td>
                                                   <ul class="list-group">
                                                       <input type="checkbox"  name="group4" id="group4" />
                                                       <label for="group4">Group4</label>
                                                   </ul>
                                               </td>
                                           </tr>
                                       </table>
                                   </div>
                               </div>
                           </div>



                       </div>






                   </div>


               </div>









                       <div class="col-lg-9 col-md-8 col-xs-12 container-fluid">
                        <div class="well well-lg">




                            <div class="row">
                                <div class="col-lg-3 pull-left">
                                  <img src="img/mice/profile.png" alt="" class="img-responsive img-circle">
                                </div>
                                <div class="col-lg-9">
                                    <a href="member_detail.html"><p class="lead" style="font-size:18px; margin-bottom:2px;">John Doe</p></a>

                                        <label for="Title">Title:</label>
                                        <span id="mtitle">Travel Manager</span>

                                    <br>
                                        <label for="Company">Company:</label>
                                        <span id="mcompany">BBC</span>

                                    <br>
                                    <p class="social">
                                        <a href="#" data-animate-hover="pulse" class="external linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" data-animate-hover="pulse" class="external connect"><i class="fa fa-comment-o"></i></a>


                                    </p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3 pull-left">
                                  <img src="img/mice/profile.png" alt="" class="img-responsive img-circle">
                                </div>
                                <div class="col-lg-9">
                                    <a href="member_detail.html"><p class="lead" style="font-size:18px; margin-bottom:2px;">John Doe</p></a>

                                        <label for="Title">Title:</label>
                                        <span id="mtitle">Travel Manager</span>

                                    <br>
                                        <label for="Company">Company:</label>
                                        <span id="mcompany">BBC</span>

                                    <br>
                                    <p class="social">
                                        <a href="#" data-animate-hover="pulse" class="external linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" data-animate-hover="pulse" class="external connect"><i class="fa fa-comment-o"></i></a>


                                    </p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3 pull-left">
                                  <img src="img/mice/profile.png" alt="" class="img-responsive img-circle">
                                </div>
                                <div class="col-lg-9">
                                    <a href="member_detail.html"><p class="lead" style="font-size:18px; margin-bottom:2px;">John Doe</p></a>

                                        <label for="Title">Title:</label>
                                        <span id="mtitle">Travel Manager</span>

                                    <br>
                                        <label for="Company">Company:</label>
                                        <span id="mcompany">BBC</span>

                                    <br>
                                    <p class="social">
                                        <a href="#" data-animate-hover="pulse" class="external linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" data-animate-hover="pulse" class="external connect"><i class="fa fa-comment-o"></i></a>


                                    </p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3 pull-left">
                                  <img src="img/mice/profile.png" alt="" class="img-responsive img-circle">
                                </div>
                                <div class="col-lg-9">
                                    <a href="member_detail.html"><p class="lead" style="font-size:18px; margin-bottom:2px;">John Doe</p></a>

                                        <label for="Title">Title:</label>
                                        <span id="mtitle">Travel Manager</span>

                                    <br>
                                        <label for="Company">Company:</label>
                                        <span id="mcompany">BBC</span>

                                    <br>
                                    <p class="social">
                                        <a href="#" data-animate-hover="pulse" class="external linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" data-animate-hover="pulse" class="external connect"><i class="fa fa-comment-o"></i></a>


                                    </p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3 pull-left">
                                  <img src="img/mice/profile.png" alt="" class="img-responsive img-circle">
                                </div>
                                <div class="col-lg-9">
                                    <a href="member_detail.html"><p class="lead" style="font-size:18px; margin-bottom:2px;">John Doe</p></a>

                                        <label for="Title">Title:</label>
                                        <span id="mtitle">Travel Manager</span>

                                    <br>
                                        <label for="Company">Company:</label>
                                        <span id="mcompany">BBC</span>

                                    <br>
                                    <p class="social">
                                        <a href="#" data-animate-hover="pulse" class="external linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" data-animate-hover="pulse" class="external connect"><i class="fa fa-comment-o"></i></a>


                                    </p>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3 pull-left">
                                  <img src="img/mice/profile.png" alt="" class="img-responsive img-circle">
                                </div>
                                <div class="col-lg-9">
                                    <a href="member_detail.html"><p class="lead" style="font-size:18px; margin-bottom:2px;">John Doe</p></a>

                                        <label for="Title">Title:</label>
                                        <span id="mtitle">Travel Manager</span>

                                    <br>
                                        <label for="Company">Company:</label>
                                        <span id="mcompany">BBC</span>

                                    <br>
                                    <p class="social">
                                        <a href="#" data-animate-hover="pulse" class="external linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#" data-animate-hover="pulse" class="external connect"><i class="fa fa-comment-o"></i></a>


                                    </p>
                                </div>
                            </div><br>








                        </div>
                    </div>




                </div>





            </div>


{%% endblock %}
