
{% extends "base_landing.html" %}

{% block content %}






<div id="carousel-home" data-ride="carousel" class="carousel slide carousel-fullscreen carousel-fade">
      <!-- Indicators-->
      <ol class="carousel-indicators">
        <li data-target="#carousel-home" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-home" data-slide-to="1"></li>
        <li data-target="#carousel-home" data-slide-to="2"></li>
      </ol>
      <!-- Wrapper for slides-->
      <div role="listbox" class="carousel-inner">
        <div style="background-image: url('img/mice/blog1.png');" class="item active">
          <div class="overlay"></div>
          <div class="carousel-caption">
            <p style="text-decoration:underline;">Featured on Blog</p>
            <h1 class="super-heading"><a href="">Mice Club Super heading</a></h1>
            <p class="super-paragraph">paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
        <div style="background-image: url('img/mice/blog2.png');" class="item">
          <div class="overlay"></div>
          <div class="carousel-caption">
            <h1 class="super-heading">Praesent dapibus, neque id cursus faucibus</h1>
            <p class="super-paragraph">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci</p>
          </div>
        </div>
        <div style="background-image: url('img/mice/blog3.png');" class="item">
          <div class="overlay"></div>
          <div class="carousel-caption">
            <h1 class="super-heading">Lorem ipsum dolor color</h1>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
          </div>
        </div>
      </div>
    </div>
    <section class="background-gray-lightest">
      <div class="container">
        <h1> Mauris placerat eleifend leo.</h1>
        <p class="lead" id="bloglead">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
        <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
      </div>
    </section>
    <section class="section--padding-bottom-small">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="post">
              <div class="image"><a href="text_guest.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text_guest.html">Rit eget tincidunt condimentum</a></h3>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="read-more"><a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="post">
              <div class="image"><a href="text_guest.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text_guest.html">Tempor sit amet</a></h3>
              <p class="post__intro"> Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
              <p class="read-more"><a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text_guest.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text_guest.html">Rit eget tincidunt condimentum</a></h3>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="read-more"><a href="text_guest.html" class="btn btn-ghost">Continue reading     </a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text_guest.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text_guest.html">Tempor sit amet</a></h3>
              <p class="post__intro"> Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
              <p class="read-more"><a href="text_guest.html" class="btn btn-ghost">Continue reading     </a></p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text_guest.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text_guest.html">Vestibulum erat wisi</a></h3>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
              <p class="read-more"><a href="text_guest.html" class="btn btn-ghost">Continue reading     </a></p>
            </div>
          </div>
        </div>
      </div>


      <div class="grid">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-hover-text-header">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p id="blog_desc">Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life. One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. </p>
                          <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-text">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p> When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
                            <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-text">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. </p>

                          <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-hover-text-header">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia.</p>

                          <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
                        </div>
                      </div>
                    </div>
                  </div>
</div><div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-text">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>
                            <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-hover-text-header">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>

                          <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-text">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>

                          <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 masonry-item">
                    <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive"></a>
                      <div class="box-masonry-text">
                        <p id="bcategory" style="font-size:12px;">Topic</p>
                        <h4> <a href="detail.html" id="blog_name">Name of the blog-post</a></h4>
                        <div class="box-masonry-desription">
                          <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them.</p>

                          <p> <a href="text_guest.html" class="btn btn-ghost">Continue reading   </a></p>
                        </div>
                      </div>
                    </div>
                  </div>




                </div>
              </div>









    </section>



    {% endblock %}
