{% extends "base_landing.html" %}

{% block content %}

<section class="background-gray-lightest">
      <div class="container-fluid">
       <div class="row">
           <div class="col-lg-7 pull-left" style="padding-left:5%; padding-top:2%;">
                    <h1> Mauris placerat eleifend leo.</h1>
                <p class="lead">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat.</p>
                <p> <a href="" data-toggle="modal" data-target="#login-modal2"><button class="btn btn-lg pop" id="lrbutton">Register now</button></a></p>
           </div>
           <div class="col-lg-5 pull-left" id="landimg" style="padding-right:2px;">
              <img src="{{url_for('static', filename='img/mice/landingcover.png')}}" alt="" class="img-responsive">

           </div>
       </div>

      </div>
    </section>
    <section class="section--padding-bottom-small" id="features">
      <div class="container-fluid">
        <div class="row">
         <h2 style="text-align:center;">Features</h2><br>
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Rit eget tincidunt condimentum</a></h3>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Tempor sit amet</a></h3>
              <p class="post__intro"> Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>

            </div>
          </div>
          <div class="col-sm-4">
            <div class="post">
              <div class="image"><a href="text.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Vestibulum erat wisi</a></h3>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            </div>
          </div>
        </div>
      </div>


    </section>

{% endblock %}
