{% extends "base.html" %}
                                
{% block content %}


<div class="wrapper container-fluid" style="background:#242424;">
                <br><br>
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header" style="color:white;">Bookmarks</p>
                    </div>
                </div>
               
                
            <div class="grid">
              <div class="row">
                
                 <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 1</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 2</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 3</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 4</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 5</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 6</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 7</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry">
                    <div class="box-masonry-text">
                      <h4> <a href="detail.html">Bookmark 8</a></h4>
                      <div class="box-masonry-desription">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.  A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <p>
                            <a href="#"><button class="btn btn-primary">Go to Link</button></a>
                        </p>
                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="img/mice/group/airline.png" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text container-fluid">
                      <p class="lead" style="font-size:20px;"> <a href="detail.html" id="group1">Bookmark 9</a></p>
                      <div class="box-masonry-desription" id="group1desc">
                        <p>Lorem Ipsum dolor set amet Lorem Ipsum dolor set amet Loren Ipsum dolor set amet.</p>                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="img/mice/group/airline.png" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text container-fluid">
                      <p class="lead" style="font-size:20px;"> <a href="detail.html" id="group1">Bookmark 10</a></p>
                      <div class="box-masonry-desription" id="group1desc">
                        <p>Lorem Ipsum dolor set amet Lorem Ipsum dolor set amet Loren Ipsum dolor set amet.</p>                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="img/mice/group/airline.png" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text container-fluid">
                      <p class="lead" style="font-size:20px;"> <a href="detail.html" id="group1">Bookmark 11</a></p>
                      <div class="box-masonry-desription" id="group1desc">
                        <p>Lorem Ipsum dolor set amet Lorem Ipsum dolor set amet Loren Ipsum dolor set amet.</p>                        
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3 masonry-item"> 
                  <div class="box-masonry"><a href="detail.html" title="" class="box-masonry-image with-hover-overlay with-hover-icon"><img src="img/mice/group/airline.png" alt="" class="img-responsive"></a>
                    <div class="box-masonry-text container-fluid">
                      <p class="lead" style="font-size:20px;"> <a href="detail.html" id="group1">Bookmark 12</a></p>
                      <div class="box-masonry-desription" id="group1desc">
                        <p>Lorem Ipsum dolor set amet Lorem Ipsum dolor set amet Loren Ipsum dolor set amet.</p>                        
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
                
                
            </div>
                  
                   
                    
                      
                
                
                
                
            </div>
             
            </div> 








{% endblock %}