{% extends "base.html" %}

{% block content %}





<div class="wrapper container-fluid">
                <br><br>
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">My Messages</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12" id="pills">
                        <div class="well well-lg">
                            <ul class="nav nav-pills">
                                <li class="active"><a data-toggle="pill" href="#inbox">Inbox</a></li>
                                <li><a data-toggle="pill" href="#compose">Compose</a></li>
                                <li><a data-toggle="pill" href="#trash">Trash</a></li>
                                <li><a data-toggle="pill" href="#archive">Archive</a></li>
                                <li><a data-toggle="pill" href="#send">Sent Mail</a></li>
                            </ul>
                            <br>
                            <div class="tab-content">
                                <div id="inbox" class="tab-pane fade in active">
                                  <h3>Inbox</h3>
                                  <br>
                                  <div class="row">
                                     <div class="col-xs-12">
                                        <div class="container-fluid">
	                                    <div class="row">
                                            <div class="box-body no-padding">
                                                      <div class="mailbox-controls">
                                                        <!-- Check all button -->
                                                        <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                                                        <div class="btn-group">
                                                          <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                                          <button class="btn btn-default btn-sm"><i class="fa fa-archive"></i></button>
                                                          <button class="btn btn-default btn-sm"><i class="fa fa-share-alt"></i></button>
                                                        </div><!-- /.btn-group -->
                                                        <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                                        <div class="pull-right">
                                                          1-50/200
                                                          <div class="btn-group">
                                                            <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                                            <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                                                          </div><!-- /.btn-group -->
                                                        </div><!-- /.pull-right -->
                                                      </div>
                                                      <hr>
                                                      <div class="table-responsive mailbox-messages">
                                                        <table class="table table-hover table-striped">
                                                          <tbody>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">5 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">28 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">11 hours ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">15 hours ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">Yesterday</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">2 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">2 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">2 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">2 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">2 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">4 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">12 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">12 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">14 days ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">15 days ago</td>
                                                            </tr>
                                                          </tbody>
                                                        </table><!-- /.table -->
                                                      </div><!-- /.mail-box-messages -->
                                                    </div><!-- /.box-body -->
                                                        <hr>
                                                        <div class="box-footer no-padding">
                                                          <div class="mailbox-controls">
                                                            <!-- Check all button -->
                                                            <button class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i></button>
                                                            <div class="btn-group">
                                                              <button class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                                                              <button class="btn btn-default btn-sm"><i class="fa fa-archive"></i></button>
                                                              <button class="btn btn-default btn-sm"><i class="fa fa-share-alt"></i></button>
                                                            </div><!-- /.btn-group -->
                                                            <button class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                                                            <div class="pull-right">
                                                              1-50/200
                                                              <div class="btn-group">
                                                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-left"></i></button>
                                                                <button class="btn btn-default btn-sm"><i class="fa fa-arrow-right"></i></button>
                                                              </div><!-- /.btn-group -->
                                                            </div><!-- /.pull-right -->
                                                          </div>
                                                        </div>
                                                      </div><!-- /. box -->
                                    </div>
                                    </div>
                                    </div>
                                    <!-- Code snippet from.. --> 
                                  
                                </div>
                                
                                <div id="compose" class="tab-pane fade">
                                  <h3>Send Mail</h3>
                                  <div class="row">
                                      <div class="col-xs-12 container-fluid">
                                          <p>
                                      
                                          <form role="form" class="form-horizontal">
                                          <div class="form-group">
                                              <label class="col-sm-2" for="inputTo">To</label>
                                              <div class="col-sm-10"><input type="email" class="form-control" id="inputTo" placeholder="comma separated list of recipients"></div>
                                            </div>
                                            <div class="form-group">
                                              <label class="col-sm-2" for="inputSubject">Subject</label>
                                              <div class="col-sm-10"><input type="text" class="form-control" id="inputSubject" placeholder="subject"></div>
                                            </div>
                                            <div class="form-group">
                                              <label class="col-sm-12" for="inputBody">Message</label>
                                              <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="18"></textarea></div>
                                            </div>
                                                                              
                                          </form>
                                          </p>
                                          
                                      </div>
                                  </div>
                                   
                                    <div class="row">
                                          <div class="col-xs-8">
                                              <button type="button" class="btn btn-default pull-left" >Cancel</button> &nbsp; &nbsp; &nbsp;
                                            <button type="button" class="btn btn-default pull-left">Save Draft</button>
                                            </div>
                                            <div class="col-xs-4">
                                             <button type="button" class="btn btn-default">Send <i class="fa fa-arrow-circle-right fa-lg"></i></button>
                                              </div>
                                          
                                      </div>
                                    
                                    
                                     
                                </div>
                                
                                <div id="trash" class="tab-pane fade">
                                  <h3>Trash</h3>
                                  <p>
                                      
                                      <div class="row">
                                          <div class="col-xs-12 container-fluid">
                                                
                                                <div class="table-responsive mailbox-messages">
                                                        <table class="table table-hover table-striped">
                                                          <tbody>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">5 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">28 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">11 hours ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">15 hours ago</td>
                                                            </tr>
                                                            
                                                            
                                                          </tbody>
                                                        </table><!-- /.table -->
                                              </div>
                                            </div>    
                                          </div>
                                          
                                        <div class="row">
                                            <div class="col-xs-12">
                                                
                                                <button type="button" class="btn btn-default pull-left" >Delete</button>
                                                
                                                
                                            </div>
                                        </div>  
                                                              
                                  </p>
                                </div>
                                <div id="archive" class="tab-pane fade">
                                  <h3>Archive</h3>
                                  <p>
                                      
                                      <div class="row">
                                          <div class="col-xs-12 container-fluid">
                                                
                                                <div class="table-responsive mailbox-messages">
                                                        <table class="table table-hover table-striped">
                                                          <tbody>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">5 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">28 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">11 hours ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">15 hours ago</td>
                                                            </tr>
                                                            
                                                            
                                                          </tbody>
                                                        </table><!-- /.table -->
                                              </div>
                                            </div>    
                                          </div>
                                          
                                        <div class="row">
                                            <div class="col-xs-12">
                                                
                                                <button type="button" class="btn btn-default pull-left" >Restore</button>
                                                
                                                
                                            </div>
                                        </div>  
                                                              
                                  </p>
                                </div>
                                <div id="send" class="tab-pane fade">
                                  <h3>Sent Mail</h3>
                                  
                                  <p>
                                      
                                      <div class="row">
                                          <div class="col-xs-12 container-fluid">
                                                
                                                <div class="table-responsive mailbox-messages">
                                                        <table class="table table-hover table-striped">
                                                          <tbody>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">5 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">28 mins ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star-o text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"><i class="fa fa-paperclip"></i></td>
                                                              <td class="mailbox-date">11 hours ago</td>
                                                            </tr>
                                                            <tr>
                                                              <td><input type="checkbox"></td>
                                                              <td class="mailbox-star"><a href="#"><i class="fa fa-star text-yellow"></i></a></td>
                                                              <td class="mailbox-name"><a href="read-mail.html">WM06</a></td>
                                                              <td class="mailbox-subject"><b>WM06</b> - Trying to find a solution to this problem...</td>
                                                              <td class="mailbox-attachment"></td>
                                                              <td class="mailbox-date">15 hours ago</td>
                                                            </tr>
                                                            
                                                            
                                                          </tbody>
                                                        </table><!-- /.table -->
                                              </div>
                                            </div>    
                                          </div>
                                          
                                        <div class="row">
                                            <div class="col-xs-12">
                                                
                                                <button type="button" class="btn btn-default pull-left" >Delete</button>
                                                
                                                
                                            </div>
                                        </div>  
                                                              
                                  </p>
                                  
                                </div>
                              </div>
                            </div>
                            
                            
                            
                            
                        </div>
                    </div>                    
                                
                <br><br>
                
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">Recent Hub Activity</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well well-lg">
                           
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="img/mice/ph-recent.png" alt="" class="img-responsive img-circle">  
                                </div>
                                <div class="col-lg-9">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <em style="font-size:11px;">Date</em>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="img/mice/ph-recent.png" alt="" class="img-responsive img-circle">  
                                </div>
                                <div class="col-lg-9">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                   <em style="font-size:11px;">Date</em>
                                     
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="img/mice/ph-recent.png" alt="" class="img-responsive img-circle">  
                                </div>
                                <div class="col-lg-9">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <em style="font-size:11px;">Date</em>
                                     
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-lg-3">
                                  <img src="img/mice/ph-recent.png" alt="" class="img-responsive img-circle">  
                                </div>
                                <div class="col-lg-9">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetti ng industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                                    <em style="font-size:11px;">Date</em>
                                     
                                </div>
                            </div><br>
                            
                            
                            
                            
                            
                            
                            
                            
                        </div>
                    </div>                    
                
                        
                    
                </div>
                
                
                
                
                
            </div>


{% endblock %}