{% extends "base.html" %}
                                
{% block content %}


<div class="wrapper container-fluid">
                <br><br>
                <div class="row">
                    <div class="col-lg-12 container-fluid">
                        <p class="lead" id="header">Settings</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well well-lg">
                            <div class="row">
                    <!--<div class="col-sm-4 pull-left sidebar-profile">
                      <img src="{{url_for('static', filename='img/mice/profile.png" alt="" class="img-responsive img-circle pull-left">  
                    </div> -->
                               
                                <div class="container-fluid">
                                    <p class="lead">John Doe</p>
                                    <p>Email: name@email.com</p>
                                    <p>Contact No: 999999999</p>
                                    <p>Address: Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    <p>
                                    <button class="btn btn-primary" type="submit" id="primarycta">Edit Profile</button>
                                    
                                    
                                    
                                    </p>
                                    
                                    
                                    
                                    <br>
                                     
                                </div>
                                
                                
                                
                                
                                
                            </div>
                            
                        <!--    <div class="row">
                                
                                <div class="col-md-3 col-md-offset-6 col-sm-6 col-xs-12 container" id="cta">
                                           
                                           <a href="#"><button type="button" class="btn btn-primary btn-lg" id="primarycta">Edit your Profile</button></a>

                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-12 container" id="cta">
                                            <a href="#"><button type="button" class="btn btn-primary btn-lg" id="primarycta">Save Changes</button></a>
                                        </div>

                                
                                
                                
                            </div> -->
                            
                            
                            
                            
                        </div>
                    </div>                    
                
                        
                    
                </div>
                
               
                
                <br><br>
                
                <div class="row">
                    <div class="col-lg-12">
                        <div class="well well-lg">
                          <div class="row">
                            <div class="col-lg-12 container-fluid">
                                <p class="lead" id="header">Notification Settings</p>
                            </div>
                          </div> 
                          <div class="row">
                              <p>
                                 <div class="row">
                                 <div class="col-xs-8">
                                     <label for="setting1" style="padding-left:5%;font-size:20px;">
                                          Send me an email for all activity
                                     </label>
                                 </div>
                                     <div class="col-xs-4" style="padding:2%;">
                                         <input type="checkbox"  name="setting1" id="setting1" data-toggle="toggle" data-size="small" />
                                     </div>
                                 </div>
                                 <div class="row">
                                 <div class="col-xs-8">
                                     <label for="setting2" style="padding-left:5%;font-size:20px;">
                                          Allow Private Messages
                                     </label>
                                 </div>
                                     <div class="col-xs-4" style="padding:2%;">
                                         <input type="checkbox"  name="setting2" id="setting2" data-toggle="toggle" data-size="small" />
                                     </div>
                                 <br></div>
                                 <div class="row">
                                 <div class="col-xs-8">
                                     <label for="setting3" style="padding-left:5%;font-size:20px;">
                                          Someone creates a new event
                                     </label>
                                 </div>
                                     <div class="col-xs-4" style="padding:2%;">
                                         <input type="checkbox"  name="setting3" id="setting3" data-toggle="toggle" data-size="small" />
                                     </div>
                                 <br></div>
                                 <div class="row">
                                 <div class="col-xs-8">
                                     <label for="setting4" style="padding-left:5%;font-size:20px;">
                                          A new Blog Post is published
                                          
                                     </label>
                                 </div>
                                     <div class="col-xs-4" style="padding:2%;">
                                         <input type="checkbox"  name="setting4" id="setting4" data-toggle="toggle" data-size="small" />
                                     </div>
                                 <br></div>
                                 <div class="row">
                                 <div class="col-xs-8">
                                     <label for="setting4" style="padding-left:5%;font-size:20px;">
                                          Switch off all notifations
                                          
                                     </label>
                                 </div>
                                     <div class="col-xs-4" style="padding:2%;">
                                         <input type="checkbox"  name="setting5" id="setting5" data-toggle="toggle" data-size="small" />
                                     </div>
                                 <br></div>
                                 <p style="text-align:center; padding:5%;">
                                    <button class="btn btn-primary" type="submit" id="primarycta">
                                        Save Changes
                                    </button>
                                    
                                    
                                    
                                    </p>
                                 
                                 
                                 
                                 
                              </p>
                              
                              
                              
                              
                              
                              
                          </div>                             
                            
                                                        
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                            
                        </div>
                    </div>                    
                
                        
                    
                </div>
                
                
                
                
                
            </div>




            {% endblock %}