{% extends "base_landing.html" %}

{% block content %}






<section class="background-gray-lightest">
      <div class="container-fluid" style="padding-top:2%;">

      <h2 style="text-align:center;">Find a Plan that's right for you.</h2><br>
      <a href="" style="text-align:center;">
      <div class="container-fluid" style="text-align:center;">
      <button class="btn btn-lg pop" id="lrbutton">Register now</button></a><br>
      </div>
      <br>
       <div class="row" style="margin-left:2%; margin-right:2%;">
           <div class="col-sm-4 container-fluid">

                <img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive" height="270" width="270"><br>
               <p class="lead" style="margin-left:15%; margin-right:15%;">
                  <strong>Category One</strong>
               </p>
                <em style="margin-left:15%; margin-right:15%; font-size:20px;">Sample Text in Italic
                </em>
                <br><strong style="margin-left:15%; margin-right:15%; font-size:20px;">Two Words</strong>
                <p class="lead" style="margin-left:15%; margin-right:15%;">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>
               <p class="lead" style="margin-left:15%; margin-right:15%;">
                   <a href="#">Read More</a>
               </p>

           </div>
           <div class="col-sm-4 container-fluid">

                <img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive" height="270" width="270"><br>
               <p class="lead" style="margin-left:15%; margin-right:15%;">
                  <strong>Category One</strong>
               </p>
                <em style="margin-left:15%; margin-right:15%; font-size:20px;">Sample Text in Italic
                </em>
                <br><strong style="margin-left:15%; margin-right:15%; font-size:20px;">Two Words</strong>
                <p class="lead" style="margin-left:15%; margin-right:15%;">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>
                <p class="lead" style="margin-left:15%; margin-right:15%;">
                   <a href="#">Read More</a>
               </p>

           </div>
           <div class="col-sm-4 container-fluid">

                <img src="{{url_for('static', filename='img/mice/blog.png')}}" alt="" class="img-responsive" height="270" width="270"><br>
               <p class="lead" style="margin-left:15%; margin-right:15%;">
                  <strong>Category One</strong>
               </p>
                <em style="margin-left:15%; margin-right:15%; font-size:20px;">Sample Text in Italic
                </em>
                <br><strong style="margin-left:15%; margin-right:15%; font-size:20px;">Two Words</strong>
                <p class="lead" style="margin-left:15%; margin-right:15%;">Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui.</p>
                <p class="lead" style="margin-left:15%; margin-right:15%;">
                   <a href="#">Read More</a>
               </p>



           </div>
           </div>

      </div>
    </section>
    <section class="section--padding-bottom-small" id="features">
      <div class="container-fluid">
        <div class="row">
         <h2 style="text-align:center;">Features</h2><br>
        </div>
        <div class="row">
          <div class="col-sm-4 container-fluid">
            <div class="post">
              <div class="image"><a href="text.html"><img src="{{url_for('static', filename='img/mice/blog3.png')}}" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Rit eget tincidunt condimentum</a></h3>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            </div>
          </div>
          <div class="col-sm-4 container-fluid">
            <div class="post">
              <div class="image"><a href="text.html"><img src="{{url_for('static', filename='img/mice/blog3.png" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Tempor sit amet</a></h3>
              <p class="post__intro"> Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>

            </div>
          </div>
          <div class="col-sm-4 container-fluid">
            <div class="post">
              <div class="image"><a href="text.html"><img src="{{url_for('static', filename='img/mice/blog3.png" alt="" class="img-responsive"></a></div>
              <h3><a href="text.html">Vestibulum erat wisi</a></h3>
              <p class="post__intro">ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

            </div>
          </div>
        </div>
      </div>

    </section>
    
{% endblock %}
