{% extends "base.html" %}

{% block content %}


<div class="wrapper container-fluid">
                
                
                <div class="row">
                    <div class="col-lg-12">
                       <br>
                        <div class="well well-lg">
                           
                           
                            <p class="lead" style="
                                background-color: #424242;
                                padding: 10px;
                                color: white;
                                margin-right: 2px;
                                border-radius: 5px;
                            ">
                                <a href="resources.html"><i class="fa fa-chevron-circle-left fa-inverse fa-fw" style="color:#d8b46a;"></i></a>&nbsp;
                                Resource Category
                            </p>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Description</strong></p>
                                    <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
                                      <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna. Cras in mi at felis aliquet congue. Ut a est eget ligula molestie gravida. Curabitur massa. Donec eleifend, libero at sagittis mollis, tellus est malesuada tellus, at luctus turpis elit sit amet quam. Vivamus pretium ornare est.
                                      <br><strong>Download the latest updates of this webinar by clicking on download resources.</strong>
                                       
                            </div>
                            <hr>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Resource</strong></p>
                                    <div class="col-xs-3 container-fluid">
                                        <i class="fa fa-file fa-2x" style="color:#242424;"></i>
                                    </div>
                                    <div class="col-xs-9 container-fluid">
                                        <a href="#"><button type="button" class="btn btn-primary btn-xs" id="primarycta">Download File/Resource</button></a>
                                    </div>                                    
                                
                            </div>
                            
                            <hr>
                            
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Link to item</strong></p>
                                    <br><a href=""><code>http://players.brightcove.net/4179652749001/rJ9dgGR9_default/index.html?videoId=5197080339001</code></a>
                                       
                            </div>
                            
                            
                            
                            <hr>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Author</strong></p>
                                    <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                       
                            </div>
                            <hr>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Publisher</strong></p>
                                    <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                       
                            </div>
                            <hr>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Publication Year</strong></p>
                                    <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                       
                            </div>
                            <hr>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Topics</strong></p>
                                    <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                       
                            </div>
                            <hr>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Resource Type</strong></p>
                                    <br>Webinar
                                       
                            </div>
                            <hr>
                            <div class="row" style="padding-left:20px;">
                               <p><strong>Language</strong></p>
                                    <br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.                                
                            </div>
                            <hr>
                            <div class="row" style="padding-left:20px;">
                                <div class="col-xs-12container-fluid">
                                    
                                    <a href=""><i class="fa fa-bookmark-o fa-2x fa-fw">&nbsp;</i>Add to Bookmarks</a>
                                
                                   </div>
                                    
                                
                                
                                
                                
                            </div>
                            
                            
                            
                            
                            
                            
                            
                        </div>
                    </div>                    
                
                        
                    
                </div>
                
                
                
                <br>
                
               
                
                
                
                
                
                
                
                
                
            </div>
            
{% endblock %}
            